{% extends "base.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<body>
<div class="container mt-5">
  <h2 class="mb-4">Профиль пользователя</h2>

  <div class="card shadow-sm">
    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    <div class="card-body">
      <p><strong>Имя:</strong> {{ user.first_name or "-" }}</p>
      <p><strong>Фамилия:</strong> {{ user.last_name or "-" }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Роль:</strong> {{ user.role.value }}</p>
      <p>  
        {% if user.team_id %}
          <a href="/teams/{{ user.team_id }}">Перейти к команде</a>
        {% else %}
          Нет команды
        {% endif %}
      </p>

      <a href="/users/profile/edit" class="btn btn-primary mt-3">Редактировать профиль</a>
      <a href="/users/profile/change-password" class="btn btn-primary mt-3">Сменить пароль</a>
      <form action="/users/delete" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить аккаунт? Это действие нельзя отменить.');">
        <button type="submit" class="btn btn-danger">Удалить аккаунт</button>
      </form>
    </div>
  </div>
</div>
</body>
{% endblock %}